<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Туризм</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=6e172ff2-4698-4126-8b89-e73d4c14338c&lang=ru_RU&coordorder=latlong" type="text/javascript"></script>
  </head>
  <body>
    <main>
      <div id="left_side">
        <div id="map"></div>
        <div id="button_wrapper">
          <button id="get_recs">Поиск</button>
          {% comment %} <button id="add_route">Добавить маркер</button> {% endcomment %}
          <button id="rec">Получить рекомендацию</button>
        </div>
        <div id="warning"></div>
      </div>
      <div id="right_side">
        <div id="user_profile">
          <div id="sel">
            <button id="all">Все маршруты</button>
            <button id="fav">Избранные</button>
          </div>
          <div id="user_info">
            <div id="username">{{ name }} {{ surname }}<br>{{ addr }}</div>
            <div>
              <a id="profile" href="/profile">Профиль</a>
              <a id="out" href="/logout">Выход</a>
            </div>
          </div>
        </div>
        <fieldset class="selectorFav"></fieldset>
        <fieldset id="selector">
          {% comment %} <div class="clickable">
                                    <input
                                      type="radio"
                                      class="check"
                                      id="checkbox8"
                                      name="radio"
                                      value="{{userId}}" />
                                    <label for="checkbox8">Мои места</label>
                              </div> {% endcomment %}
          <div class="clickable">
            <input
              type="checkbox"
              id="heartCheckbox1"
              class="heart-checkbox"
              value="1">
            <label for="heartCheckbox1" class="heart-label"></label>
            <input
              type="radio"
              class="check"
              id="checkbox1"
              name="radio"
              value="1" />
            <label for="checkbox1">Памятные места известных личностей <br>
              <span style="font-size: 18px; font-weigth: 200">Памятники и музеи изветных людей, проживавших и бывавших в Таганроге</span>
            </label>
          </div>
          <div class="clickable">
            <input
              type="checkbox"
              id="heartCheckbox2"
              class="heart-checkbox"
              value="2">
            <label for="heartCheckbox2" class="heart-label"></label>
            <input
              type="radio"
              class="check"
              id="checkbox2"
              name="radio"
              value="2" />
            <label for="checkbox2">История Таганрог<br>
              <span style="font-size: 18px; font-weigth: 200">Музеи, посвященные истории города Таганрога</span>
            </label>
          </div>
          <div class="clickable">
            <input
              type="checkbox"
              id="heartCheckbox3"
              class="heart-checkbox"
              value="3">
            <label for="heartCheckbox3" class="heart-label"></label>
            <input
              type="radio"
              class="check"
              id="checkbox3"
              name="radio"
              value="3" />
            <label for="checkbox3">Военные памятники ВОВ<br>
              <span style="font-size: 18px; font-weigth: 200">Таганрогские памятники и музеи посвященные Великой Отечественной войне</span>
            </label>
          </div>
          <div class="clickable">
            <input
              type="checkbox"
              id="heartCheckbox4"
              class="heart-checkbox"
              value="4">
            <label for="heartCheckbox4" class="heart-label"></label>
            <input
              type="radio"
              class="check"
              id="checkbox4"
              name="radio"
              value="4" />
            <label for="checkbox4">Музеи<br>
              <span style="font-size: 18px; font-weigth: 200">В данном маршруте предлагается посетить популярные музеи Таганрога</span>
            </label>
          </div>
          <div class="clickable">
            <input
              type="checkbox"
              id="heartCheckbox5"
              class="heart-checkbox"
              value="5">
            <label for="heartCheckbox5" class="heart-label"></label>
            <input
              type="radio"
              class="check"
              id="checkbox5"
              name="radio"
              value="5" />
            <label for="checkbox5">Путь А.П. Чехова<br>
              <span style="font-size: 18px; font-weigth: 200">В данном маршруте Вы можете ознакомиться с жизнью Антона Павловича Чехова от рождения до юности, узнать, как жил классик мировой литературы до того, как стал известным.</span>
            </label>
          </div>
          <div class="clickable">
            <input
              type="checkbox"
              id="heartCheckbox6"
              class="heart-checkbox"
              value="6">
            <label for="heartCheckbox6" class="heart-label"></label>
            <input
              type="radio"
              class="check"
              id="checkbox6"
              name="radio"
              value="6" />
            <label for="checkbox6">Красивые прогулки<br>
              <span style="font-size: 18px; font-weigth: 200">Прогуляйтесь по самым красивым местам Таганрога</span>
            </label>
          </div>
        {% comment %} <div class="clickable">
                      <input
                        type="radio"
                        class="check"
                        id="checkbox7"
                        name="radio"
                        value="7" />
                      <label for="checkbox7">Рекомендации пользователей
                      </label>
                  </div> {% endcomment %}
        </fieldset>
      </div>
      {% comment %} <div id="modal" class="modal">
                <div class="modal-content">
                  <span class="close" id="closeModal">&times;</span>
                  <form
                    action="/markers"
                    method="post"
                    id="new_mark">
                    <fieldset>
                      <legend>Добавьте свой маркер:</legend>
                      <select
                        id="mySelect"
                        class="minimal"
                        name="select">
                        <option value="1">Добавить в свой места</option>
                        <option value="2">Добавить рекомендуемое место (будет видно всем)</option>
                      </select>
                      Адрес: <input
                        type="text"
                        name="addr"
                        id="addr">
                      Описание: <input
                        type="text"
                        name="desc"
                        id="desc">
                      <button type="submit" value="add">Добавить</button>
                    </fieldset>

                  </form>
                </div>
            </div> {% endcomment %}

      <div id="customModal" class="custom-modal">
        <div class="custom-modal-content">
          <span
            onclick="exitModal()"
            style="float: right; cursor: pointer;"
            id="mdlClose">&times;</span>
          <h2>Оставить отзыв</h2>
          <form
            class="custom-modal-form"
            action="/review"
            method="post">

            <label for="rating">Ваша оценка:</label>
            <select
              id="rating"
              name="rating"
              required>
              <option value="1">1 звезда</option>
              <option value="2">2 звезды</option>
              <option value="3">3 звезды</option>
              <option value="4">4 звезды</option>
              <option value="5">5 звезд</option>
            </select>
            <label for="comment">Отзыв:</label>
            <textarea id="comment" name="comment"></textarea>
            <button type="submit" value="review">Отправить</button>
          </form>
          <div id="revCont"></div>
        </div>
      </div>

      <div id="recomendat" class="custom-modal">

        <div class="custom-modal-content" id="recomends">
          <span
            onclick="exitModal()"
            style="float: right; cursor: pointer;"
            id="mdlClose">&times;</span>
          <form
            action="/get_rec"
            method="get"
            id="get_rec">
            <div class="grd">
              <div>
                <label for="getRating">Рейтинг:</label>
                <select
                  id="getRating"
                  name="getRating"
                  required>
                  <option value="1">
                    Любой
                  </option>
                  <option value="2">2+ звезды</option>
                  <option value="3">3+ звезды</option>
                  <option value="4">4+ звезды</option>
                </select>
              </div>
              <div id="RAD">
                <input
                  type="number"
                  name="recRadius"
                  id="recRadius"
                  placeholder="Введите радиус в метрах"
                  disabled>
                <button type="button" id="getRad">Поиск по радиусу</button>
              </div>
            </div>

            <fieldset id="recSel">
              <div class="clickableRec">
                <input
                  type="checkbox"
                  class="box"
                  id="check1"
                  name="check1"
                  value="1" />
                <label for="check1">Памятные места известных личностей</label>
              </div>
              <div class="clickableRec">
                <input
                  type="checkbox"
                  class="box"
                  id="check2"
                  name="check2"
                  value="2" />
                <label for="check2">История Таганрог</label>
              </div>
              <div class="clickableRec">
                <input
                  type="checkbox"
                  class="box"
                  id="check3"
                  name="check3"
                  value="3" />
                <label for="check3">Военные памятники ВОВ</label>
              </div>
              <div class="clickableRec">
                <input
                  type="checkbox"
                  class="box"
                  id="check4"
                  name="check4"
                  value="4" />
                <label for="check4">Музеи</label>
              </div>
              <div class="clickableRec">
                <input
                  type="checkbox"
                  class="box"
                  id="check5"
                  name="check5"
                  value="5" />
                <label for="check5">Путь А.П. Чехова</label>
              </div>
              <div class="clickableRec">
                <input
                  type="checkbox"
                  class="box"
                  id="check6"
                  name="check6"
                  value="6" />
                <label for="check6">Красивые прогулки</label>
              </div>
            </fieldset>
            <button type="submit" id="find">Найти</button>
          </form>
        </div>
      </div>

    </main>

    <script src="scripts/script.js"></script>
  </body>
</html>