<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Туризм</title>
    <link rel="stylesheet" href="styles/style.css" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=6e172ff2-4698-4126-8b89-e73d4c14338c&lang=ru_RU&coordorder=latlong" type="text/javascript"></script>
  </head>
  <body>
    <main>
      <div id="left_side">
        <div id="map"></div>
        <div id="button_wrapper">
          <button>Рекомендации</button>
          <button id="add_route">Добавить маршрут</button>
        </div>
      </div>
      <div id="right_side">
        <div id="user_info">
          <div id="username">{{ name }} {{ surname }}<br>{{ addr }}</div>
          <div>
            <a id="update" href="/upd">Редактировать профиль</a>
            <a id="out" href="/logout">Выход</a>
          </div>
        </div>
        <fieldset id="selector">
          <div class="clickable">
            <input
              type="radio"
              class="check"
              id="checkbox5"
              name="radio"
              value="5" />
            <label for="checkbox5">Мои места</label>
          </div>
          <div class="clickable">
            <input
              type="radio"
              class="check"
              id="checkbox1"
              name="radio"
              value="1" />
            <label for="checkbox1">Чеховские места</label>
          </div>
          <div class="clickable">
            <input
              type="radio"
              class="check"
              id="checkbox2"
              name="radio"
              value="2" />
            <label for="checkbox2">Музеи</label>
          </div>
          <div class="clickable">
            <input
              type="radio"
              class="check"
              id="checkbox3"
              name="radio"
              value="3" />
            <label for="checkbox3">Активный отдых</label>
          </div>
          <div class="clickable">
            <input
              type="radio"
              class="check"
              id="checkbox4"
              name="radio"
              value="4" />
            <label for="checkbox4">Рекомендации пользователей</label>
          </div>
        </fieldset>
      </div>
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close" id="closeModal">&times;</span>
          <form
            action="/markers"
            method="post"
            id="new_mark">
            <fieldset>
              <legend>Добавьте свой маркер:</legend>
              <select
                id="mySelect"
                class="minimal"
                name="select">
                <option value="1">Добавить в свой маршрут</option>
                <option value="2">Добавить рекомендуемое место (будет видно всем)</option>
              </select>
              Адрес: <input
                type="text"
                name="addr"
                id="addr">
              Описание: <input
                type="text"
                name="desc"
                id="desc">
              <button type="submit" value="add">Добавить</button>
            </fieldset>

          </form>
        </div>
      </div>

      <div id="customModal" class="custom-modal">
        <div class="custom-modal-content">
          <span
            onclick="exitModal()"
            style="float: right; cursor: pointer;"
            id="mdlClose">&times;</span>
          <h2>Оставить отзыв</h2>
          <form
            class="custom-modal-form"
            action="/review"
            method="post">

            <label for="rating">Ваша оценка:</label>
            <select
              id="rating"
              name="rating"
              required>
              <option value="1">1 звезда</option>
              <option value="2">2 звезды</option>
              <option value="3">3 звезды</option>
              <option value="4">4 звезды</option>
              <option value="5">5 звезд</option>
            </select>
            <label for="comment">Отзыв:</label>
            <textarea id="comment" name="comment"></textarea>
            <button type="submit" value="review">Отправить</button>
          </form>
        </div>
      </div>

    </main>

    <script src="scripts/script.js"></script>
  </body>
</html>