<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Туризм</title>
    <link rel="stylesheet" href="styles/style.css" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=6e172ff2-4698-4126-8b89-e73d4c14338c&lang=ru_RU&coordorder=latlong" type="text/javascript"></script>
  </head>
  <body>
    <main>
      <div id="map" style="height: 100vh;"></div>
      <div id="right_side">
        <div id="user_info">
          <form method="post">
            Пользователь: <input
              type="text"
              name="username"
              required>
            Пароль: <input
              type="text"
              name="password"
              required>
            <button type="submit" value="login">Войти</button>
          </form>
          <div>
            <a href="reg">Регистрация</a>
          </div>

        </div>
        <fieldset id="selector">
          <div class="clickable">
            <input
              type="radio"
              class="check"
              id="checkbox1"
              name="radio"
              value="1" />
            <label for="checkbox1">Чеховские места</label>
          </div>
          <div class="clickable">
            <input
              type="radio"
              class="check"
              id="checkbox2"
              name="radio"
              value="2" />
            <label for="checkbox2">Музеи</label>
          </div>
          <div class="clickable">
            <input
              type="radio"
              class="check"
              id="checkbox3"
              name="radio"
              value="3" />
            <label for="checkbox3">Активный отдых</label>
          </div>
          <div class="clickable">
            <input
              type="radio"
              class="check"
              id="checkbox4"
              name="radio"
              value="4" />
            <label for="checkbox4">Рекомендации пользователей</label>
          </div>
        </fieldset>
      </div>



      <div id="customModal" class="custom-modal">
        <div class="custom-modal-content">
          <span
            onclick="exitModal()"
            style="float: right; cursor: pointer;"
            id="mdlClose">&times;</span>
          </form>
        </div>
      </div>
    </main>

    <script src="scripts/lg.js"></script>
  </body>
</html>