<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Туризм</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <form method="post">
      Пользователь: <input type="text" name="username">
      Пароль: <input type="text" name="password">
      <button type="submit" value="registration">Регистрация</button>
      <div>{{ e }}</div>
    </form>
  </body>
</html>