<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Туризм</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  </head>
  <body>
    <form method="post" style=" position: fixed; left: 45%">
      Адрес: <input
        type="text"
        name="addr"
        style="display: block;">
      Имя: <input
        type="text"
        name="name"
        style="display: block;">
      Фамилия: <input
        type="text"
        name="surname"
        style="display: block;">
      <button
        type="submit"
        value="registration"
        style="display: block; position:relative; right: 12px">Обновить данные</button>
      <div>{{ e }}</div>
    </form>
  </body>
</html>