<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
  </head>
  <body>
    <form method="post">
      Адрес: <input type="text" name="addr">
      Имя: <input type="text" name="name">
      Фамилия: <input type="text" name="surname">
      <button type="submit" value="registration">Обновить данные</button>
      <div>{{ e }}</div>
    </form>
  </body>
</html>